<!-- A form to show a record or accept data for a new record. -->
<form name="myForm">
    <div class="control-group" ng-class="{error: myForm.name.$invalid}">
        <label>Site</label>
        <input type="text" name="name" ng-model="item.name" required>
        <span ng-show="myForm.name.$error.required" class="help-inline">Required</span>
    </div>

    <div class="control-group" ng-class="{error: myForm.site.$invalid}">
        <label>URL</label>
        <input type="url" name="site" ng-model="item.site" required>
        <span ng-show="myForm.site.$error.required" class="help-inline">Required</span>
        <span ng-show="myForm.site.$error.url" class="help-inline">Not a URL</span>
    </div>

    <label>Description</label>
    <textarea name="description" ng-model="item.description"></textarea>

    <br>
    <a href="#/" class="btn">Cancel</a>
    <button ng-click="save()" ng-disabled="isClean() || myForm.$invalid" class="btn btn-primary">Save</button>
    <button ng-click="destroy()" ng-show="item._id" class="btn btn-danger">Delete</button>
</form>
