<!doctype html>
<html ng-app="mongoCRUD">
<head>
    <link href='http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css' rel="stylesheet">
    <script src=http://code.jquery.com/jquery.js></script>
    <script src=http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js></script>
    <script src=http://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js></script>
    <script src=js/mongoCRUDApp.js></script>
    <script src=js/controller.js></script>
</head>
<body>
<div class="container">
    <div class="hero-unit">
        <h1>MEAN CRUD Example</h1>
        <p>A version of the Angular Backend example with MongoDB CRUD integrated.</p>
    </div>
    <div ng-controller="AlertsCtrl">
        <div class="alert alert-error" ng-repeat="alert in alerts">
            {{alert}}
            <button type="button" class="close" data-dismiss="alert" ng-click="closeAlert($index)">&times</button>
        </div>
    </div>
    <!-- Main routed content goes here -->
    <div ng-view></div>
</div>
</body>
</html>
