<!-- Show the list of all the records in the database -->
<input type="text" ng-model="search" class="search-query" placeholder="Search">
<table>
    <thead>
    <tr>
        <th>Site</th>
        <th>Description</th>
        <th><a href="#/new"><i class="icon-plus-sign"></i></a></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in items | filter:search | orderBy:'title'">
        <td><a href="{{item.site}}" target="_blank">{{item.name}}</a></td>
        <td>{{item.description}}</td>
        <td><a href="#/item/{{item._id}}"><i class="icon-pencil"></i></a></td>
    </tr>
    </tbody>
</table>